WORKDIR = "./log"

AL_API_KEY = ""

TAVILY_API_KEY = ""
LANGSMITH_API_KEY = ""

VLM_API_KEY = ""
VLM_URL = ""
VLM_MODEL = "Qwen3-VL-Thinking" 
# "Qwen3-Instruct"
# "GLM-4.1V-9B-Thinking"

OLLAMA_EMBED_URL = 
OLLAMA_EMBED_MODEL = 

LANGSMITH_PROJECT=new-agent